In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/My Drive/Colab Notebooks/Visitas'
dir_pandas = '/content/drive/My Drive/Colab Notebooks/Visitas/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks/Visitas

In [59]:
visitas = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Visitas/data.csv', encoding="UTF-8", sep = ';')

df = visitas

distri = df['DistributorExternCode'].values[2]
if distri == 369117:
    name_distri = "TD"
elif distri == 445625:
    name_distri = "TL"
elif distri == 369846:
    name_distri = "TC"
elif distri == 328660:
    name_distri = "KG"
else:
    name_distri = "FS"
             
    
           
name_fecha = str(pd.to_datetime(
df['Date'].values[2],
errors = 'coerce',
format = '%d/%m/%Y %H:%M:%S',
))

name_archivo = str("visitas_" + name_distri + "_" + name_fecha + ".xlsx")

df = df.drop(['TenantRegion', 'RegionCode', 'DistributorName', 'OrganizationExternCode',
         'OrganizationCode', 'LeaderCode', 'LeaderName', 'SupervisorCode', 'SupervisorName',
         'SellerName', 'ClientName', 'ClientFantasyName', 
         'EmployeeType', 'IsInUniverse', 'SurveyCampaignsTargetTags',
         'SurveyCampaignsAnswersTags', 'HasLicense', 'ClientAddress'], axis=1)

# print(name_archivo)
df.head(5)

   DistributorExternCode  SellerCode  ... AtWorkingHours  IsInRoute
0                 445625           9  ...           True       True
1                 445625           9  ...           True       True
2                 445625           9  ...           True       True
3                 445625           9  ...           True       True
4                 445625           9  ...           True       True

[5 rows x 12 columns]

In [60]:
df['Date'] = pd.to_datetime(
df['Date'],
errors = 'coerce',
format = '%d/%m/%Y %H:%M:%S',
)

df = df.sort_values(['Date'], ascending=[True])
df['Date'].head(20)

# df['CheckinStart'] = pd.to_datetime(
#     df['CheckinStart'],
#     errors = 'coerce',
#     format = '%m/%d/%y%H:%M:%s%P'
#     )
# df['CheckinEnd'] = pd.to_datetime(
#     df['CheckinEnd'],
#     errors = 'coerce',
#     format = '%m/%d/%y%H:%M:%s%P'
#     )

# df['tiempoen_PDV'] = df['CheckinEnd']-['CheckinStart']
# df['tiempoen_PDV']
# df.dtypes

# df["tiempoenPDV"]= df['CheckinStart'] - df['CheckinEnd']
# print(name)

6051   2022-02-01
5895   2022-02-01
5894   2022-02-01
5893   2022-02-01
5892   2022-02-01
5891   2022-02-01
5890   2022-02-01
5889   2022-02-01
5888   2022-02-01
5887   2022-02-01
5886   2022-02-01
5885   2022-02-01
5884   2022-02-01
5883   2022-02-01
5882   2022-02-01
5881   2022-02-01
5880   2022-02-01
5879   2022-02-01
5896   2022-02-01
5878   2022-02-01
Name: Date, dtype: datetime64[ns]

In [62]:
# df.to_excel(dir_pandas.format('visitasTL_Febrero_Cierre.xlsx'), index = False, sheet_name = 'Hoja1' )
df.to_excel(str(dir_pandas + name_archivo), index = False, sheet_name = 'Hoja1' )